@model SYGESTMunicipal.Areas.OFIM.Models.ViewModel.ProductoViewModel
@using SYGESTMunicipal.Extensions
@using SYGESTMunicipal.Utility
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-light" style="text-align:center;
                              background-color:darkslategray;width:100%;">
                Agregar un Producto
            </h3>
        </div>
    </div>
    <br />

    <form asp-action="Create" asp-controller="Producto" method="post" enctype="multipart/form-data" id="viewAgregar">
        <div class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Producto.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Producto.Name" class="form-control" />
                </div>
                <span asp-validation-for="Producto.Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Producto.Description" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.Producto.Description, new { rows = "3", cols = "56", @class = "text-area" })
                </div>
                <span asp-validation-for="Producto.Description" class="text-danger"></span>
            </div>



            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Producto.Imagen" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input type="file" id="projectImage" name="files" multiple class="form-control" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Producto.ClasificacionID" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="@Model.Producto.ClasificacionID" id="CategoryId"
                            asp-items="Model.Clasificacion.ToSelectListItem(Model.Producto.ClasificacionID)"
                            class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Producto.EmpresaId" name="LblEjeId" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <select asp-for="@Model.Producto.EmpresaId" name="EmpresaId" id="EjeId"
                            asp-items="@(new SelectList(string.Empty,"Id","Name"))"
                            class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </div>

    </form>

    <script src="https://www.jonthornton.com/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="https://www.jonthornton.com/jquery-timepicker/jquery.timepicker.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <script src="~/js/jquery.timepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>

    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script src="~/js/jquery.timepicker.js"></script>
    <script src="~/js/DPickerSpanish.js"></script>
    <script>
        $(function () {
             $("#datepicker").datepicker({ dateFormat: 'dd/MM/yy 0:00' }).val();


        });
    </script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
     $(document).ready(function () {
         GetEjes();
         $('#CategoryId').change(function () {
             GetEjes();
         });
     });
    function GetEjes() {
         var url = '@Url.Content("~/")' + "OFIM/Empresa/GetEmpresa/";
         var ddlsource = '#CategoryId';
         $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
             var items = '';
             $('#EjeId').empty();
             $.each(data, function (i, eje) {
                 items += "<option value='" + eje.value + "'>" + eje.text +
                     "</option>";
             });
             $('#EjeId').html(items);
         })
     }
    </script>

}
