@using SYGESTMunicipal.Utility
@using SYGESTMunicipal.Areas.OFIM.Models
@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{
    <br />
    <br />
    <div class="border backgroundWhite">

        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Productos</h2>
            </div>
            <div class="col-6 text-right">
                <partial name="_CreateButtonPartial" />
            </div>
        </div>

        <br />

        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-hover .table-responsive" id="TbConsulta">
                    <thead class="thead-dark">
                        <tr class="table-secondary" style="text-align:center;">

                            <th>@Html.DisplayNameFor(m => m.Id)</th>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.Description)</th>

                            <th>@Html.DisplayNameFor(m => m.ClasificacionID)</th>
                            <th>@Html.DisplayNameFor(m => m.EmpresaId)</th>



                            <th>Operaciones</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Id)</td>
                                <td>@Html.DisplayFor(m => item.Name)</td>

                                <td>@Html.DisplayFor(m => item.Description)</td>
                                <td>@Html.DisplayFor(m => item.Clasificacion.Name)</td>
                                <td>@Html.DisplayFor(m => item.Empresa.Name)</td>
                                <a>
                                    <partial name="_TableButtonPartialDelete" model="item.Id" />
                                </a>

                            </tr>
                        }
                </table>
            }
            else
            {
                <h3>No existen Productos registrados...</h3>
            }
        </div>
    </div>
}

