@page
@model IndexModel

@{
    ViewData["Title"] = "Mi Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_Login.cshtml";
}

@*<h4>@ViewData["Title"]</h4>*@

<partial name="_StatusMessage" model="Model.StatusMessage" />

@*<div class="page-header header-filter" data-parallax="true" style="background-image: url('~/login/assets/img/city-profile.jpg');"></div>*@
<div class="page-header header-filter">

    <div class="main main-raised">
        <div class="profile-content">
            <section class="ftco-section">
                <div class="container">
                    <div class="row d-flex pl-md-5 align-content-md-center">
                        <div class="col-md-6 d-flex">

                            <div class="profile">
                                <h3 class="title">SYGEST Municipal</h3>
                                <div class="avatar">
                                    <img src="~/login/assets/img/LogoMuniGrande.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 pl-md-5">

                            <div class="name">
                                @*<h6>Designer</h6>*@
                                @*<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>*@

                                <div class="col-md-6">

                                    <form class="form" id="profile-form" method="post">

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">

                                            <label asp-for="Username" style="color:white;text-shadow: 2px 2px 5px #000"></label>
                                            <input asp-for="Username" class="form-control" disabled style="color:white;text-shadow: 2px 2px 5px #000" />

                                        </div>



                                        <div class="form-group">

                                            <label asp-for="Input.PhoneNumber"></label>
                                            <input asp-for="Input.PhoneNumber" class="form-control" style="color:white;text-shadow: 2px 2px 5px #000" />
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                                        </div>

                                        <button id="update-profile-button" type="submit" class="btn btn-primary">Actualizar</button>

                                    </form>

                                </div>



                            </div>

                            <br />
                            <div class="form-group"></div>
                            <div class="form-group">
                                <div class="description text-center">
                                    <h4 class="mb-8" style="color:white;text-shadow: 2px 2px 5px #000">
                                        Su cuenta contiene datos personales que nos ha proporcionado. Esta página le permite descargar o eliminar esos datos.
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" style="color:white;text-shadow: 2px 2px 5px #000">Profile</a></li>
                            @*<li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" style="color:white;text-shadow: 2px 2px 5px #000">Email</a></li>*@
                            <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" style="color:white;text-shadow: 2px 2px 5px #000">Password</a></li>

                            @*<li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>*@
                            <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" style="color:white;text-shadow: 2px 2px 5px #000">Personal data</a></li>
                        </ul>

                    </div>

                </div>
            </section>
        </div>
    </div>
    </div>



    <partial name="_ValidationScriptsPartial" />
