@model IEnumerable<SYGESTMunicipal.Areas.OFGA.Models.PersonOFGA>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Registro de Persona</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Gestón Ambiental</a></li>
                <li>Registro</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

  
            <form asp-controller="PersonOFGA" asp-action="Index" method="post">
                <div class="row">
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-action="Create" class="btn btn-success fa fa-plus-circle"
                           style="width:100%; height:90%;padding:6px;">
                            Agregar Persona
                        </a>
                    </div>
                    @*<div class="col-md-2 col-lg-2 text-right">
                            <a asp-controller="" asp-action="Index"
                               class="btn btn-info fa fa-arrow-circle-left"
                               style="width:100%; height:90%;padding:6px;">
                                Regresar al menú
                            </a>
                        </div>*@
                </div>
                <div class="col-md-12" style="color:black;"><hr /></div>
            </form>


            @if (Model.Count() > 0)
            {
                <table class="table table-hover .table-responsive" id="TbPersonOFGA">
                    <thead class="thead-dark">
                        <tr class="table-secondary" style="text-align:center;">
                            <th>@Html.DisplayNameFor(m => m.PersonOFGAId)</th>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.CellphoneNumber)</th>
                            <th>@Html.DisplayNameFor(m => m.Email)</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.PersonOFGAId)</td>
                                <td>@Html.DisplayFor(m => item.Name)</td>
                                <td>@Html.DisplayFor(m => item.CellphoneNumber)</td>
                                <td>@Html.DisplayFor(m => item.Email)</td>

                                <a>
                                    <partial name="_TableButtonPartialStringDelete" model="item.PersonOFGAId" />

                                </a>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h5 style="color:red;">No se encontraron registros!...</h5>
            }
     
</main>

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/Utilitarios.js"></script>

    <script>
        $(document).ready(function () {
            $('#TbPersonOFGA').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                });
        })
    </script>



