@model IEnumerable<SYGESTMunicipal.Areas.OFGA.Models.Talks>

@using SYGESTMunicipal.Utility
@{
    ViewData["Title"] = "IndexTalks";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}



<main id="main">



    @*Charlas*@


    <ul id="breadcrumbs" class="breadcrumbs" >
        <div class="breadcrumb-hero">

            <div class="breadcrumb-hero text-md-center" style="color:white">
                <h2 style="color:white">CHARLAS DISPONIBLES</h2>
                <br />
                <br />
            </div>

            

            @foreach (var item in Model)
            {




                <ul class="ftco-section" style="text-align:center;background-color:darkslategray;">
                    @*<div class="breadcrumb-hero">*@
                    <div class="container">

                        <br />
                        @*<br />
                        <br />
                        <br />*@


                    <div class="row  border">

                        @*<span class="border border-white">*@

                        <br />
                        <br />



                        <div class="col-lg-5 video-box align-self-baseline">


                            <br />
                            @{
                                var base64 = Convert.ToBase64String(item.Picture);
                                var imgsrc = string.Format("data:image/jpg;base64, {0}", base64);
                            }
                            <img src="@imgsrc" style="height: 100%; width:110%" />
                            <br />
                            <br />
                        </div>


                        <div class="col-lg-6 pt-3 pt-lg-0 content">


                            <br />
                            <ul>
                                <div class="form-group row col-md text-md-left">
                                    <h4>
                                        <div class="col-md text-right" style="color:White;text-shadow: 2px 2px 5px #000">

                                            <th>@Html.DisplayNameFor(m => m.Name):</th>
                                        </div>
                                    </h4>

                                    <div class="col-md" style="color:darkgray;text-shadow: 2px 2px 5px #000">
                                        <h5 style="color:darkgray">@Html.DisplayFor(m => item.Name)</h5>
                                    </div>
                                </div>

                                <div class="form-group row col-lg-12 text-left">
                                    <h4>
                                        <div class="col-md text-right" style="color:White;text-shadow: 2px 2px 5px #000">

                                            <th>@Html.DisplayNameFor(m => m.Description):</th>
                                        </div>
                                    </h4>


                                    <div class="col-lg-12" style="color:darkgray;text-shadow: 2px 2px 5px #000">
                                        <h5 style="color:darkgray">@Html.DisplayFor(m => item.Description)</h5>
                                    </div>

                                </div>

                                <div class="form-group row col-md-7 text-left">
                                    <h4>
                                        <div class="col-md-7 text-right" style="color:White;text-shadow: 2px 2px 5px #000">

                                            <th>@Html.DisplayNameFor(m => m.Date):</th>
                                        </div>
                                    </h4>

                                    <div class="col-md-7" style="color:darkgray;text-shadow: 2px 2px 5px #000">
                                        <h5 style="color:darkgray">@Html.DisplayFor(m => item.Date)</h5>
                                    </div>

                                </div>


                            </ul>
                            


                        </div>
                        @*</span>*@
                        
                        
                    </div>


                        <br />


                    </div>
                    @*</div>*@
                </ul>
                <section id="breadcrumbs" class="breadcrumbs">
                    <div class="breadcrumb-hero col-md-12">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </section>
            }

                            


        </div>
                </section>
                @section Scripts{
                    <script src="https://code.jquery.com/jquery-3.5.0.js"
                            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
                            crossorigin="anonymous">
                    </script>
                    <script>
                        //load data from server, using HTTP Post request
                        var posts = $('.post');
                        (function ($) {
                            $("#menu-filters li").click(function () {
                                $("#menu-filters li").removeClass('active btn btn-secondary');
                                $(this).addClass('active btn btn-secondary');
                                var selectedFilter = $(this).data("filter");
                                $(".menu-restaurant").fadeOut();
                                setTimeout(function () {
                                    $(selectedFilter).slideDown();
                                }, 100);
                            });
                        })(jQuery);
                    </script>
                }

                @*https://getbootstrap.com/docs/4.0/components/carousel/
            https://www.w3schools.com/bootstrap/bootstrap_filters.asp*@














</main><!-- End #main -->
