@model IEnumerable<SYGESTMunicipal.Areas.OFGA.Models.RecoverableMaterialRecovery>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFGA.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Puntos de Recuperación</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <ol>
                <li><a asp-area="OFGA" asp-controller="Home" asp-action="Index">Gestión Ambiental</a></li>
                <li>Puntos de Recuperación</li>
            </ol>
        </div>

        @*<form asp-controller="RecoverableMaterialRecovery" asp-action="Index" method="post">
                <div class="row">

                </div>
                <div class="col-md-12" style="color:black;"><hr /></div>
            </form>*@
    </section><!-- End Breadcrumbs -->



    <div class="border backgroundWhite">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-info">Lista Materiales Recuperados</h2>
            </div>
            <div class="col-md-6 text-right">
                @*//CREAR UNA VISTA PARCIAL DEL BOTON CREAR*@
                <partial name="_CreateButtonPartial" />
            </div>
        </div>

        @if (Model.Count() > 0)
        {
            <table class="table table-hover .table-responsive" id="TbSolidWaste">
                <thead class="thead-dark">
                    <tr class="table-secondary" style="text-align:center;">
                        <th>@Html.DisplayNameFor(m => m.Id)</th>
                        <th>@Html.DisplayNameFor(m => m.Weight)</th>
                        <th>@Html.DisplayNameFor(m => m.PlaceName)</th>
                        <th>@Html.DisplayNameFor(m => m.EntryDate)</th>

                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.Weight)</td>
                            <td>@Html.DisplayFor(m => item.PlaceName)</td>
                            <td>@Html.DisplayFor(m => item.EntryDate)</td>

                            <a>
                                <partial name="_TableButtonPartial" model="item.Id" />

                            </a>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h5 style="color:red;">No se encontraron registros!...</h5>
        }
     </div>
</main>

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/Utilitarios.js"></script>

    <script>
        $(document).ready(function () {
            $('#TbSolidWaste').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                });
        })
    </script>



