@using SYGESTMunicipal.Utility
@model IEnumerable<EstablishmentViewModel>
@using SYGESTMunicipal.Areas.PATENTES.Models.ViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPATENTES.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-header" style="color:white;text-shadow: 2px 2px 5px #000"><i class="fa fa-th"></i>Establecimiento</h3>
                <ol class="breadcrumb">

                    <li class="nav-item">
                        <i class="fa fa-home"></i>
                        <a class="nav-link" asp-area="PATENTES" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item active" style="color:black"><i class="fa fa-th"></i>Establecimiento</li>

                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 style="color:white;text-shadow: 2px 2px 5px #000" class="text-info">Lista de Establecimientos</h3>

            </div>
            @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFPA))
            {
                <div class="col-md-6 text-right">
                    <partial name="_CreateButtonPartial" />
                </div>
            }
            </div>
        @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFPA))
        {
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="border backgroundWhite">


                                @*//Vista del filtro*@
                                @*<div class="row">
                                    <div class="col-12 text-right">
                                        <partial name="_Filter" />
                                    </div>
                                </div>*@
                                <div>
                                    @if (Model.Count() > 0)
                                    {
                                        <table class="table table-hover .table-responsive">

                                            <tr class="table-secondary">
                                                <th>@Html.DisplayNameFor(m => m.Id)</th>
                                                <th>@Html.DisplayNameFor(m => m.Name)</th>
                                                <th>@Html.DisplayNameFor(m => m.CIIUName)</th>
                                                <th>@Html.DisplayNameFor(m => m.Description)</th>
                                                <th>@Html.DisplayNameFor(m => m.WorkingHours)</th>
                                                <th>@Html.DisplayNameFor(m => m.EstablishmentTypeName)</th>
                                                <th>Operaciones</th>
                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.Id)</td>
                                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                                    <td>@Html.DisplayFor(m => item.CIIUName)</td>
                                                    <td>@Html.DisplayFor(m => item.Description)</td>
                                                    <td>@Html.DisplayFor(m => item.WorkingHours)</td>
                                                    <td>@Html.DisplayFor(m => item.EstablishmentTypeName)</td>
                                                    <a> <partial name="_TableButtonPartial" model="item.Id" /></a>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <h3 style="color:red;">No existen establecimientos registrados...</h3>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
            <a class="nav-link" asp-area="PATENTES" asp-controller="PersonPatentes" asp-action="Create"> Agregar Registro de Persona</a>
        }
        else
        {
            @*@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFPA) || User.IsInRole(SD.Guest) || User.IsInRole(SD.FrontDeskUser))
            {
                <a class="nav-link" asp-area="PATENTES" asp-controller="PersonPatentes" asp-action="Create"> Agregar Registro de Persona</a>
            }
            else
            {*@

            <a class="dropdown-item" asp-action="Index"
               asp-controller="Home" asp-area="Patentes" style="color:white;text-shadow: 2px 2px 5px #000">Oficina de Patentes</a>
            <h3 style="color:white;text-shadow: 2px 2px 5px #000"> Para realizar la solicitud de una Patente, debe registrarse o iniciar sesión primeramente.</h3>
            <h3 style="color:white;text-shadow: 2px 2px 5px #000"> Inicie Sesión <a asp-area="Identity" asp-page="/Account/Login" class="btn-get-started scrollto">Aquí</a></h3>

            <a class="nav-link" asp-area="PATENTES" asp-controller="Home" asp-action="Index" style="color:white;text-shadow: 2px 2px 5px #000">           Volver a la Página Principal</a>
        }
        @*}*@
        }
    </section>
</section>
<!--main content end-->