@using SYGESTMunicipal.Utility
@using SYGESTMunicipal.Areas.OFIM.Models.ViewModel

@model IEnumerable<EjeCategory>

@{
    ViewData["Title"] = "Ejes";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";

}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM))
{

    <div class="container">
        <main class="pb-3" role="main">
            <div class="<border backgroundWhite">
                <div class="row">

                    <div class="col-md-6 col-lg-12">
                        <h2 class="text-dark">Lista de Ejes</h2>
                    </div>

                </div>

                <form asp-controller="Eje" asp-action="Index" method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Listar por categorias:</label>
                        </div>
                        <div class="col-md-2 text-right">
                            <input type="text" class="form-control" name="name" id="name"
                                   value="@ViewBag.Category" />
                        </div>  <br />
                        <div class="col-md-1 text-right">
                            <input type="button" value="Buscar" class="btn btn-outline-success"
                                   onclick="Buscar()" />
                        </div>  <br />
                        <div class="col-md-1 text-right">
                            <input type="button" value="Resetear" class="btn btn-outline-danger"
                                   onclick="Resetear()" />
                        </div><br />

                        <div class="col-md-1 text-right">
                            <input type="button" value="Generar PDF" class="btn btn-outline-primary" onclick="ExportarPDF()" />
                        </div>
                        <div class="col-md-2 text-right">
                            <input type="button" value="Generar Excel" class="btn btn-outline-secondary" onclick="ExportarExcel()" />
                        </div>
         
                    </div>
                    <div class="col-md-12" style="color:black;"><hr /></div>
                </form>

                <div class="row contenedorBotones">

                    <div class="col-md-6 text-md-left">
                        <a asp-controller="Home"
                           asp-action="Index"
                           asp-area="OFIM"
                           class="btn btn-info fa fa fa-arrow-circle-left inicio">
                            Regresar OFIM
                        </a>
                    </div>

                    <div class="col-md-6 text-md-right">
                        <p>
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus"></i>
                                &nbsp; Crear Nuevo
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 divisor"><hr></div>

                @if (Model.Count() > 0)
                {
                    <div class="contenedorTablas">
                        <table class="table table-hover .table-responsive" id="tbDatos" name="tbDatos">
                            <thead class="thead-dark">
                                <tr class="table-secondary" style="text-align:center;">

                                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                                    <th>@Html.DisplayNameFor(m => m.Category)</th>

                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center;">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Name)</td>
                                        <td>@Html.DisplayFor(m => item.Category)</td>

                                        <td style="width:300px">
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-primary text-white"
                                                   asp-controller="Eje"
                                                   asp-action="Edit" asp-route-Id="@item.Id">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-success text-white"
                                                   asp-controller="Eje"
                                                   asp-action="Details" asp-route-Id="@item.Id">
                                                    <i class="fas fa-list-alt"></i>
                                                </a>

                                                <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                                                   onclick="EliminarEje(@item.Id)"></i>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-15 text-md-right">
                        <script>
                            document.write('Ultima modificación: ' + window.document.lastModified)

                        </script>
                    </div>
                }
                else
                {
                    <h3 style="color:red;">No existen Ejes registrados!...</h3>
                }
            </div>

            <form asp-action="Delete" asp-controller="Eje" method="post" id="viewEliminar">
                <input type="hidden" id="txtEjeId" name="Id" />

            </form>
            <form asp-action="Edit" asp-controller="Eje" method="post" id="viewEditar">
                <input type="hidden" id="txtEjeId" name="Id" />
            </form>

            <form asp-action="exportar" target="_blank" asp-controller="Eje" asp-route-id="tbDatos"
                  method="post" id="viewExportarPDF">
                <input type="hidden" id="txtBuscar" name="txtBuscar" />
            </form>
        </main>
    </div>

}

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>

<script>
    $(document).ready(function () {
        $('#tbDatos').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            });
    })

    function EliminarEje(Id) {
        document.getElementById("txtEjeId").value = Id;
        verModal('Eliminar Eje',
            '¿Desea eliminar el eje '
            + Id + ' ?').then((result) => {
                if (result.value) {
                    alert("No puede eliminar un eje si está siendo utilizado por una actividad")
                    var viewEliminar = document.getElementById("viewEliminar");
                    viewEliminar.submit();
                    Swal.fire(
                        'Eliminación!',
                        'El Eje  ' + Id + ' fue eliminado!.',
                        'success'
                    )
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Cancelado',
                        'El Eje no fue eliminado!!!:)',
                        'error'
                    )
                }
            })
    }

    function Buscar() {
        var name = document.getElementById("name").value;
        var url = "/OFIM/Eje/BuscarEjeCategory/?nombreCategory=" + name;
        var tbody = document.getElementById("tbDatos");
        var campos = new Array("Id", "Name", "Category");
        pintarPantallaConsulta(url, campos, tbody);
    }
    function ExportarPDF() {
        var aux = document.getElementById("viewExportarPDF");
        aux.submit();
    }
    function Resetear() {
        document.getElementById("name").value = "";
        Buscar();
    }

</script>
