@using SYGESTMunicipal.Utility
@model IEnumerable<ConsultaViewModel>
@using SYGESTMunicipal.Areas.OFIM.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOFIM.cshtml";
}

@if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.AdminOFIM) || User.IsInRole(SD.RedUser))
{
    <br />
    <br />
    <br />
    <div class="border backgroundWhite">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-info">Registrar Consulta</h2>
            </div>
            <div class="col-md-6 text-right">
                <p>
                    <a asp-action="Create" class="btn btn-info">
                        <i class="fas fa-plus"></i>
                        &nbsp; Crear Nuevo
                    </a>
                </p>
            </div>
        </div>
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-hover .table-responsive" id="TbConsulta">
                    <thead class="thead-dark">
                        <tr class="table-secondary" style="text-align:center;">

                            <th>@Html.DisplayNameFor(m => m.Motivo)</th>
                            <th>@Html.DisplayNameFor(m => m.Fecha)</th>
                            <th>@Html.DisplayNameFor(m => m.PersonaOFIMId)</th>
                            <th>@Html.DisplayNameFor(m => m.TipoConsultaId)</th>
                            <th>@Html.DisplayNameFor(m => m.Remitir)</th>



                            <th>Operaciones</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Motivo)</td>
                                <td>@Html.DisplayFor(m => item.Fecha, "{0:dd/MM/yyyy}")</td>
                                <td>@Html.DisplayFor(m => item.PersonName)</td>
                                <td>@Html.DisplayFor(m => item.NombreTipoConsulta)</td>
                                <th>@Html.DisplayNameFor(m => m.Remitir)</th>
                                <a>
                                    <partial name="_TableButtonPartialDelete" model="item.ConsultaId" />
                                </a>

                            </tr>
                        }
                </table>
            }
            else
            {
                <h3>No Existen Consultas...</h3>
            }
        </div>
    </div>
}

